body {
    font-family: sans-serif;
    background: url(Media/Member.jpg) no-repeat center center fixed;
    background-size: cover;
    
}
.main-section {
    margin: 0 auto;
    margin-top: 500px;
    padding: 0;
}
.modal-content {
    background-color: aqua;
    opacity: .98;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
    
    
}
.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}