Body{
	margin: 0;
	padding: 0;
	background: url(Member.jpg) no-repeat, no-repeat center center fixed;
	height: 100vh;
	background-size: cover;
	font-family: sans-serif;
}
.main-section{
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}
.modal-content{
	background-color: #AFEEEE;
	opacity: .80;
	padding: 0 18px;
	box-shadow: 0px 0px 0pc #848484;
	
}
.user-img{
	margin-top: -50px;
	margin-bottom: 35px;

}
.user-img img{
	height: 100px

}
.form-group{
	margin-bottom: 25px;
	


}
.form-group input{
	height: 42px;
	border-radius: 5px;
	border:0;
	font-size: 18px;
}
